<%- include('./partial/header') %> 
<%- include('./partial/navbar') %>

<h1>Random Number : <%= num %></h1>
<% if (num % 2 === 0) {%>
<h3>Angka Genap</h3>
<% } else { %>
<h3>Angka Ganjil</h3>
<% } %>

<h1>The number is <%= num % 2 === 0 ? 'even' : 'odd' %></h1>
<%- include('./partial/footer') %>
